body {
  font-family: 'PT Serif', serif;
  background-color: #202230;
  color: #fff;
  margin: 0;
  padding: 0;
}

.titulo, h1, h2, h3 {
  font-family: 'Geomanist', sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.galeria {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
}

.obra {
  position: relative;
  margin-bottom: 80px;
  padding: 60px 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
}

/* Fondos específicos por obra */
.fondo1 {
  background-image: url('img/Museo.jpg');
}
.fondo2 {
  background-image: url('img/Starrynight.webp');
}
.fondo3 {
  background-image: url('img/losamantes-jpg.webp');
}
.fondo4{
  background-image: url('img/cambells.jpg');
}
.fondo5 {
  background-image: url('img/pajaroenelespacio.jpeg');
}
.fondo6 {
  background-image: url('img/Cindy.jpeg');
}
.fondo7 {
  background-image: url('img/losnenufares.jpg');
}
.fondo8 {
  background-image: url('img/fanfondo.webp');
}

.contenido {
  
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.contenido img {
  width: 45%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.descripcion {
  width: 45%;
  text-align: left;
  color: #f0f0f0; /* 👈 Blanco suave para mejor lectura */
}
